<% if @message.content %>
  <%= ChatwootMarkdownRenderer.new(@message.content).render_message %>
<% end %>

<% if @previous_message %>
  <%= content_tag :div  do %>
    <%= content_tag :div do %>
      On <%= @previous_message.created_at.strftime('%a, %b %e, %Y at %l:%M %p') %>
      &nbsp;
      <%= @previous_message.sender.try(:available_name) || @previous_message.sender&.name || '' %> 
      <%= "<#{@previous_message.sender&.email}>" %> wrote:
    <% end %>
    <%= content_tag :blockquote, style: "margin: 0px 0px 0px 0.8ex;border-left: 1px solid rgb(204, 204, 204);padding-left: 1ex;" do %>
      <%= ChatwootMarkdownRenderer.new(@previous_message.content).render_message %>
    <% end %>
  <% end %>
  <br>
<% end %>

<% if @message.should_send_csat_at_reply? %>
  <% @conversation.messages.csat.limit(1).each do |msg| %>
    <br>
    <br>
    <%= render 'csat_template', message: msg %>
    <%= %>

    <div style='font-size: 11px;margin-top: 15px;color: #737373;'>
      Complete the survey at
      <%= link_to msg.csat_link_shorten, msg.csat_link, style: 'font-size: 11px;color: #737373;'%>
    </div>

  <% end %>
<% end %>
