<tr>
  <td>
    <p>
      Hello, <br/>
      Here's the summary of conversation with <%= account.name %> through <%= inbox.channel_name %>,
    </p>
    View converation on <a href="<%= conversation_url %>"><%= conversation_origin %></a>
    <br />
  </td>
</tr>
<% if @message.content %>
  <%= CommonMarker.render_html(@message.content).html_safe %>
<% end %>
<% if @message.attachments %>
  <% @message.attachments.each do |attachment| %>
    attachment [<a href="<%= attachment.file_url %>" _target="blank">click here to view</a>]
  <% end %>
<% end %>
