<% if @message.content_attributes&.dig('forwarded_message_id').present? %>  
  <% if @message.content_attributes&.dig('email', 'html_content', 'full').present? %>
    <%= @message.content_attributes.dig('email', 'html_content', 'full').html_safe %>
  <% elsif @message.content_attributes&.dig('email', 'text_content', 'full').present? %>
    <div>
      <%= simple_format(@message.content_attributes.dig('email', 'text_content', 'full')) %>
    </div>
  <% elsif @message.content %>
    <div>
      <%= ChatwootMarkdownRenderer.new(@message.content).render_message.html_safe %>
    </div>
  <% end %>
<% else %>
  <% if @message.content %>
    <div>
      <%= ChatwootMarkdownRenderer.new(@message.outgoing_content).render_message %>
    </div>
  <% end %>
<% end %>

<% if @large_attachments.present? %>
  <p>Attachments:</p>
  <% @large_attachments.each do |attachment| %>
    <p><a href="<%= attachment.file_url %>" target="_blank"><%= attachment.file.filename.to_s %></a></p>
  <% end %>
<% end %>
