<h1 class="text-3xl font-semibold leading-normal md:tracking-normal md:text-4xl text-slate-900 dark:text-white">
  <%= article.title %>
</h1>
<div class="flex flex-col items-start justify-between w-full md:flex-row md:items-center pt-6">
  <div class="flex items-start space-x-1">
    <% if article.author&.avatar_url&.present? %>
      <div class="pr-px mt-1">
        <img src="<%= article.author.avatar_url %>" alt="<%= article.author.display_name %>" class="w-5 h-15 border rounded-full">
      </div>
    <% end %>
    <span class="flex items-center text-base text-slate-600 dark:text-slate-400 font-medium">By <%= article.author.available_name %> • <%= I18n.t('public_portal.common.last_updated_on', last_updated_on: article.updated_at.strftime("%b %d, %Y")) %></span>
  </div>
</div>
