<% content_for :head do %>
  <title><%= @article.title %> | <%= @portal.name %></title>
  <% if @article.meta["title"].present? %>
    <meta name="title" content="<%= @article.meta["title"] %>">
  <% end %>
  <% if @article.meta["description"].present? %>
    <meta name="description" content="<%= @article.meta["description"] %>">
  <% end %>
  <% if @article.meta["tags"].present? %>
    <meta name="tags" content="<%= @article.meta["tags"].join(',') %>">
  <% end %>
<% end %>

<!-- The inline styles are intentional, migrate it to classes after upgrading to tailwind v3 -->
<div class="max-w-6xl px-8 mx-auto py-8">
  <div class="pb-4 w-full">
    <h1 class="text-3xl font-semibold md:tracking-normal leading-snug md:text-4xl text-slate-900">
      <%= @article.title %>
    </h1>
  </div>
  <div class="flex max-w-6xl w-full mx-auto">
    <article id="cw-article-content" class="flex-grow flex-2 mx-auto text-slate-800 text-lg prose break-words">
      <%= @parsed_content %>
    </article>
    <div class="flex-1" id="cw-hc-toc"></div>
  </div>
</div>
