<p>Hi {{user.available_name}},</p>

<p>You have received a new message in a conversation you are participating [ID - {{conversation.display_id}}].</p>

{% if message %}
  <p><b>{{message.sender_display_name}}</b> wrote:</p>
  <blockquote style="box-sizing:border-box; padding:8px 16px; margin:0 0 20px; font-size:14px; border-left:5px solid #eeeeee">
    {% if message.text_content %}
      {{message.text_content}}
    {% else %}
      Message content not available
    {% endif %}
  </blockquote>

  {% if message.attachments %}
    <p><b>Attachments:</b></p>
    <ul>
      {% for attachment in message.attachments %}
        <li><a href="{{ attachment }}" target="_blank">View attachment</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% else %}
  <p>Message content not available</p>
{% endif %}

<p>
  <a href="{{action_url}}">View conversation</a>
</p>
