<p>Здравствуйте, {{user.available_name}}!</p>

<p>
  Диалог #{{conversation.display_id}} в {{ inbox.name }}
  нарушил SLA следующего ответа по политике {{ sla_policy.name }}.
</p>

<p>
<a href="{{action_url}}">Пожалуйста, обработайте как можно скорее.</a>
</p>
