<!-- This example requires Tailwind CSS v2.0+ -->
<section class="bg-white lg:container w-full py-6 px-4 flex flex-col items-center justify-center">
  <div class="flex justify-between content-center w-full">
    <h3 class="text-xl text-slate-900 font-semibold subpixel-antialiased leading-relaxed">
     <a href="/public/api/v1/portals/<%= portal.slug %>/categories/<%= category.slug %>"><%= category.name %></a>
    </h3>
    <span class="text-slate-500"><%= category.articles.published.size %> articles</span>
  </div>
  <div class="py-4 w-full">
    <% category.articles.each do |article| %>
      <div class="flex justify-between content-center h-8">
        <a href="/public/api/v1/portals/<%= portal.slug %>/articles/<%= article.id %>" class=""><%= article.title %></a>
        <span>></span>
      </div>
    <% end %>

  </div>
</section>
