<section class="lg:container w-full py-6 px-4 flex flex-col h-full">
   <div class="flex flex-col gap-8 border border-solid border-slate-100 dark:border-slate-800 hover:border-woot-600 dark:hover:border-woot-600 py-5 px-3 rounded-lg">
      <div class="flex justify-between items-center w-full">
         <div class="flex items-start flex-col gap-1">
            <div class="flex flex-row items-center gap-1 px-1">
               <%# <span class="text-base py-0.5 px-1.5 rounded-md cursor-pointer hover:bg-slate-50 dark:hover:bg-slate-800"><%= category.icon %>
               <h3 class="text-xl text-slate-800 dark:text-slate-50 font-semibold leading-relaxed hover:text-woot-600 dark:hover:text-woot-600">
                  <a href="/hc/<%= portal.slug %>/<%= category.locale %>/categories/<%= category.slug %><%= @theme.present? ? '?theme='+@theme : ''  %>">
                  <%= category.name %>
                  </a>
               </h3>
            </div>
            <% if category.description.present? %>
            <span class="text-base px-2 text-slate-600 dark:text-slate-200"><%= category.description %></span>
            <% end %>
         </div>
      </div>
      <div class="flex flex-col gap-2 flex-grow">
         <% if category.articles.published.size==0 %>
         <div class="h-full flex items-center justify-center bg-slate-50 dark:bg-slate-800 rounded-xl mb-4">
            <p class="text-sm text-slate-500"><%= I18n.t('public_portal.common.no_articles') %></p>
         </div>
         <% else %>
         <% category.articles.published.order(position: :asc).take(5).each do |article| %>
         <a class="text-slate-700 dark:text-slate-100 leading-7" href="/hc/<%= portal.slug %>/articles/<%= article.slug %><%= @theme.present? ? '?theme='+@theme : ''  %>">
            <div class="flex justify-between items-center py-1 px-2 rounded-lg gap-3 hover:bg-slate-50 dark:hover:bg-slate-800">
               <%= article.title %>
               <span class="flex items-center font-normal">
                  <%= render partial: 'icons/chevron-right' %>
               </span>
            </div>
         </a>
         <% end %>
         <% end %>
      </div>
      <div class="flex justify-between flex-row items-center px-2">
         <div>
           <span class="text-slate-500"><%= render 'public/api/v1/portals/article_count', article_count: category.articles.published.order(position: :asc).size %></span>
         </div>
         <div>
            <a href="/hc/<%= portal.slug %>/<%= category.locale %>/categories/<%= category.slug %><%= @theme.present? ? '?theme='+@theme : ''  %>" class="flex flex-row items-center text-sm font-medium text-slate-600 dark:text-slate-300 hover:text-slate-700 dark:hover:text-slate-100">
            <%= I18n.t('public_portal.common.view_all_articles') %>
            </a>
         </div>
      </div>
   </div>
</section>
