<!-- This example requires Tailwind CSS v2.0+ -->
<header class="bg-white mx-auto px-4 max-w-4xl w-full border border-slate-600">
  <nav class="px-0 flex" aria-label="Top">
    <div class="w-full py-4 flex items-center justify-between">
      <div class="flex items-center">
        <a href="#">
          <span class="sr-only"><%= portal.name %>%></span>
          <img class="h-8 w-auto"
            src="https://d33wubrfki0l68.cloudfront.net/973467c532160fd8b940300a43fa85fa2d060307/dc9a0/static/brand-73f58cdefae282ae74cebfa74c1d7003.svg"
            alt="">
        </a>
        <div class="ml-8 border-l-1 border-slate-50">
        <div class="flex-grow flex-shrink-0">
        <a href="#" class="flex flex-row items-center text-sm font-sans font-medium text-slate-700 hover:text-slate-800 hover:underline"> Goto main site 
          <span class="ml-2"> 
            <svg class="w-4 h-4 fill-current text-slate-600" width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M13.267 4.209a.75.75 0 0 0-1.034 1.086l6.251 5.955H3.75a.75.75 0 0 0 0 1.5h14.734l-6.251 5.954a.75.75 0 0 0 1.034 1.087l7.42-7.067a.996.996 0 0 0 .3-.58.758.758 0 0 0-.001-.29.995.995 0 0 0-.3-.578l-7.419-7.067Z" /></svg>
          </span>
        </a>
      </div>
        </div>
      </div>
    </div>
    <div class="flex flex-grow justify-end flex-shrink-0 items-center">
      
      <div>
      <select 
      value="<%= @portal.config["default_locale"] %>"
      data-portal-slug="<%= @portal.slug %>"
      class="h-8 block w-full flex-shrink bg-slate-50 border border-slate-200 text-slate-700 py-1 px-4 pr-8 rounded leading-tight text-base font-medium focus:outline-none focus:bg-white focus:border-slate-500 locale-switcher">
        <% @portal.config["allowed_locales"].each do |locale| %>
         <option value="<%= locale %>"><%= locale %></option>
        <% end %>
      </select>
      </div>
    </div>
  </nav>
</header>
