<div class="preferences-card">
  <div class="status-page">
    <% case @error_type %>
    <% when :expired %>
      <div class="status-icon warning">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <h1 class="status-title">
        <%= t('public_preferences.errors.expired_title') %>
      </h1>
      <p class="status-message">
        <%= t('public_preferences.errors.expired') %>
      </p>

    <% when :invalid %>
      <div class="status-icon error">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
      </div>
      <h1 class="status-title">
        <%= t('public_preferences.errors.invalid_title') %>
      </h1>
      <p class="status-message">
        <%= t('public_preferences.errors.invalid') %>
      </p>

    <% when :contact_not_found %>
      <div class="status-icon neutral">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
      </div>
      <h1 class="status-title">
        <%= t('public_preferences.errors.contact_not_found_title') %>
      </h1>
      <p class="status-message">
        <%= t('public_preferences.errors.contact_not_found') %>
      </p>

    <% when :label_not_found %>
      <div class="status-icon neutral">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
        </svg>
      </div>
      <h1 class="status-title">
        <%= t('public_preferences.errors.label_not_found_title') %>
      </h1>
      <p class="status-message">
        <%= t('public_preferences.errors.label_not_found') %>
      </p>

    <% when :account_unavailable %>
      <div class="status-icon neutral">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
        </svg>
      </div>
      <h1 class="status-title">
        <%= t('public_preferences.errors.account_unavailable_title') %>
      </h1>
      <p class="status-message">
        <%= t('public_preferences.errors.account_unavailable') %>
      </p>

    <% else %>
      <div class="status-icon error">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <h1 class="status-title">
        <%= t('public_preferences.errors.generic_title') %>
      </h1>
      <p class="status-message">
        <%= t('public_preferences.errors.generic') %>
      </p>
    <% end %>
  </div>
</div>
