<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<%= javascript_pack_tag 'superadmin_pages' %>
<%= stylesheet_pack_tag 'superadmin_pages' %>

<%
  sidebar_icons = {
    accounts: 'ion ion-briefcase',
    users: 'ion ion-person-stalker',
    super_admins: 'ion ion-unlocked',
    access_tokens: 'ion-key',
    platform_apps: 'ion ion-social-buffer',
    installation_configs: 'ion ion-settings',
    agent_bots: 'ion ion-social-android',
  }
%>

<div class="navigation" role="navigation">
  <div class="logo-brand">
    <%= link_to image_tag('/brand-assets/logo.svg', alt: 'Chatwoot Admin Dashboard'), super_admin_root_url %>
    <div class="app-version">v<%= Chatwoot.config[:version] %></div>
  </div>

  <ul>
    <li class="navigation__link">
      <i class="ion ion-ios-keypad"></i>
      <%= link_to "Dashboard", super_admin_root_url %>
    </li>

  <li class="navigation__link">
      <i class="ion ion-android-settings"></i>
      <%= link_to "App Config", super_admin_app_config_url %>
    </li>

    <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
      <% next if ["account_users", "dashboard", "devise/sessions", "app_configs", "instance_statuses" ].include?  resource.resource %>
      <li class="navigation__link navigation__link--<%= nav_link_state(resource) %>">
        <i class="<%= sidebar_icons[resource.resource.to_sym] %>"></i>
        <%= link_to(
          display_resource_name(resource),
          resource_index_route(resource)
        ) if valid_action? :index, resource  %>
      </li>
    <% end %>

  <li class="navigation__link">
      <i class="ion ion-medkit"></i>
      <%= link_to "Instance Health", super_admin_instance_status_url %>
    </li>

    <li class="navigation__link">
      <i class="ion ion ion-network"></i>
      <%= link_to "Sidekiq", sidekiq_web_url, { target: "_blank" } %>
    </li>
  </ul>
  <ul class="logout">
   
    <li class="navigation__link">
      <i class="ion ion-log-out"></i>
      <%= link_to "Logout", super_admin_logout_url %>
    </li>
    <li class="navigation__link">
      <i class="ion ion-android-contacts"></i>
      <%= link_to "Agent Dashboard", '/' %>
    </li>
  </ul>
</div>
