<table style="width:100%;" border="0">
  <tr>
    <td style="width:50%"><img src="https://chat.onehash.ai/brand-assets/logo_thumbnail.svg" alt="OneHash Chat"
                               width="130px"/></td>
    <td style="width:50%;text-align:right;"><a href="https://www.onehash.ai"
                                               style="color:blue;text-decoration:none;">www.onehash.ai</a></td>
  </tr>
</table>


<p style="text-align:center;font-weight:bold;font-size:50px; width:100%">
  <img src="https://app.onehash.ai/files/initial_warning.png" width="100%" height="auto" style=""
       alt="Banner Image"/></p>
<p>
  Hello <%= @admin_name %>,
  <br><br>
  Greetings from Team OneHash. We hope this email finds you well.
  It has come to our attention that your OneHash Chat account has been completely inert since <%= @initial_warning_days %> days.
  <br><br>
  We are sorry to inform you that we will be forced to delete your account if your inactivity
  continues for the next <%= @number_of_days %> days. Please resume your usage to avoid any inconvenience.
  <br><br>
  Your account will be permanently deleted on <%= @deletion_date %>, if the inactivity persists.
  To resume the usage of your account please click on the link below...
  <br>
  <%= ENV['FRONTEND_URL'] %>/app/login

  <br><br>
  Cheers,<br>
  Team OneHash
</p>
<p style="margin: 0; font-size: 12px; text-align: center;">
  _______________________________________________________________________</p>
<table style="margin-left:auto;margin-right:auto">
  <tr>

    <td><a style="margin-left:5px" href=" https://www.instagram.com/onehash.ai" target="_blank"> <img
      src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/instagram@2x.png"
      width="32" height="32" alt="Instagram" title="Instagram"
      style="display: block; height: auto; border: 0;"></a></td>

    <td><a style="margin-left:5px" href=" https://twitter.com/OneHash" target="_blank"><img
      src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/twitter@2x.png"
      width="32" height="32" alt="Twitter" title="Twitter"
      style="display: block; height: auto; border: 0;"></a></td>

    <td><a style="margin-left:5px" href=" https://www.linkedin.com/company/onehash/" target="_blank"><img
      src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/linkedin@2x.png"
      width="32" height="32" alt="LinkedIn" title="LinkedIn"
      style="display: block; height: auto; border: 0;"></a></td>

    <td><a style="margin-left:5px" href="https://www.youtube.com/c/OneHash-AI" target="_blank"><img
      src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/youtube@2x.png"
      width="32" height="32" alt="YouTube" title="YouTube"
      style="display: block; height: auto; border: 0;"></a></td>
    <td>
      <a style="margin-left:5px" href=" https://www.facebook.com/onehash.ai.crm" target="_blank"><img
        src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/facebook@2x.png"
        width="32" height="32" alt="Facebook" title="Facebook"
        style="display: block; height: auto; border: 0;"></a></td>
  </tr>
</table>

<div style="width:100%; min-height:200px;justify-content:center;align-item:center">

  <p>
  <p style="margin: 0; font-size: 12px; text-align: center;"><span style="color:black;">Where to find
                us:</span><br>

    <br>
  <p style="margin: 0; font-size: 12px; text-align: center;">
        <span style="color:#007ee6;"><a href="https://www.onehash.ai/" target="_blank"
                                        style="text-decoration:underline;color:#007ee6;" rel="noopener">https://www.onehash.ai/</a></span><br>


  <div>
    <p style="position:absolute; margin-top:80px;margin-left:30%;color: #357be0; font-size: 12px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; mso-line-height-alt: 14.399999999999999px; line-height: 1.2;">
    <p style="margin: 0; font-size: 12px; text-align: center;"><span style="color:#000000;">Copyright © <%= Date.today.strftime('%Y') %>|OneHash Chat
                Inc.| All rights reserved</span></p>


    <p style="margin: 0; font-size: 12px; text-align: center;"><span style="color:#000000;">&nbsp;</span></p>

    <p style="margin: 0; font-size: 12px; text-align: center;"><span style="color:#000000;">Changed your mind? You
                can <span style="color:#000000;"><span style="font-size:12px;">unsubscribe </span></span>at any time by requesting to <a
      href="mailto:support@onehash.ai"> support@onehash.ai </a></span></p>

  </div>
</div>
