<%# locals: (input_class:) %>
<form class="w-full my-4" action="<%= request.path %>" method="GET" data-search-form>
  <input type="hidden" name="locale" value="<%= params[:locale] %>">
  <% if @theme_from_params.present? %>
    <input type="hidden" name="theme" value="<%= @theme_from_params %>">
  <% end %>
  <% if @is_plain_layout_enabled %>
    <input type="hidden" name="show_plain_layout" value="true">
  <% end %>
  <input type="text"
         name="query"
         value="<%= @query %>"
         placeholder="<%= I18n.t('public_portal.search.search_placeholder') %>"
         data-search-input
         autofocus
         class="<%= input_class %>">
  <button type="submit" class="sr-only">
    <%= I18n.t('public_portal.search.submit') %>
  </button>
</form>
