<%# locals: (input_class:) %>
<div class="max-w-5xl px-4 md:px-8 mx-auto flex flex-col <%= @is_plain_layout_enabled && 'py-4' %>">
  <div class="flex flex-row items-center gap-px mb-6">
    <a class="text-slate-500 dark:text-slate-200 text-sm gap-1 hover:cursor-pointer hover:underline leading-8 font-semibold"
       href="<%= generate_home_link(@portal.slug, params[:locale], @theme_from_params, @is_plain_layout_enabled) %>">
      <%= I18n.t('public_portal.common.home') %>
    </a>
    <span class="w-4 h-4 [&>svg]:w-3 [&>svg]:h-3 flex items-center justify-center text-xs text-slate-500 dark:text-slate-300">
      <%= render partial: 'icons/chevron-right' %>
    </span>
    <span class="text-sm font-semibold text-slate-800 dark:text-slate-100">
      <%= I18n.t('public_portal.search.results') %>
    </span>
  </div>

  <h1 class="text-3xl font-semibold leading-normal md:tracking-normal md:text-4xl text-slate-900 dark:text-white">
    <%= I18n.t('public_portal.search.results_for', query: @query) %>
  </h1>

  <%= render 'public/api/v1/portals/search/form', input_class: input_class %>
</div>
