<% pagination_params = params.permit(:query, :locale, :theme, :show_plain_layout) %>
<% link_class = local_assigns[:link_class] || 'px-3 py-2 border border-slate-200 dark:border-slate-700 text-sm font-medium text-slate-700 dark:text-slate-300 hover:bg-slate-50 dark:hover:bg-slate-800' %>

<% if articles.respond_to?(:total_pages) && articles.total_pages > 1 %>
  <div class="flex justify-center mt-6">
    <nav class="inline-flex">
      <% if articles.prev_page %>
        <a href="<%= url_for(pagination_params.merge(page: articles.prev_page)) %>" class="<%= "#{link_class} rounded-l-md" %>">
          <%= I18n.t('public_portal.common.previous') %>
        </a>
      <% end %>

      <% if articles.next_page %>
        <a href="<%= url_for(pagination_params.merge(page: articles.next_page)) %>" class="<%= "#{link_class} rounded-r-md" %>">
          <%= I18n.t('public_portal.common.next') %>
        </a>
      <% end %>
    </nav>
  </div>
<% end %>
