<p>Hi <%= @resource.name %>,</p>

<% account_user = @resource&.account_users&.first %>

<% if account_user&.inviter.present? && @resource.unconfirmed_email.blank? %>
  <p><%= account_user.inviter.name %>, <%= account_user.account.name %>-с танд <%= global_config['BRAND_NAME'] || 'Chatwoot' %> туршиж үзэхийг урьж байна.</p>
<% end %>

<% if @resource.confirmed? %>
  <p>Та доорх холбоосоор өөрийн <%= global_config['BRAND_NAME'] || 'Chatwoot' %> бүртгэлд нэвтрэх боломжтой:</p>
<% else %>
  <% if account_user&.inviter.blank? %>
  <p>
    <%= global_config['BRAND_NAME'] || 'Chatwoot' %>-д тавтай морилно уу! Үүнээс өмнө таны имэйл хаягийг баталгаажуулах шаардлагатай.
  </p>
  <% end %>
  <p>Доорх холбоос дээр дарж нууц үгээ үүсгэнэ үү</p>
<% end %>


<% if @resource.unconfirmed_email.present? %>
  <p><%= link_to 'Confirm my account', frontend_url('auth/confirmation', confirmation_token: @token) %></p>
<% elsif @resource.confirmed? %>
  <p><%= link_to 'Login to my account', frontend_url('auth/sign_in') %></p>
<% elsif account_user&.inviter.present? %>
  <p><%= link_to 'Confirm my account', frontend_url('auth/password/edit', reset_password_token: @resource.send(:set_reset_password_token)) %></p>
<% else %>
  <p><%= link_to 'Confirm my account', frontend_url('auth/confirmation', confirmation_token: @token) %></p>
<% end %>