<p>Hi <%= @resource.name %>,</p>

<% account_user = @resource&.account_users&.first %>

<% if account_user&.inviter.present? && @resource.unconfirmed_email.blank? %>
  <p><%= account_user.inviter.name %>, with <%= account_user.account.name %>, has invited you to try out <%= global_config['BRAND_NAME'] || 'OneHash Chat' %>.</p>
<% end %>

<% if @resource.confirmed? %>
  <p>You can login to your <%= global_config['BRAND_NAME'] || 'OneHash Chat' %> account through the link below:</p>
<% else %>
  <% if account_user&.inviter.blank? %>
  <p>
    Welcome to <%= global_config['BRAND_NAME'] || 'OneHash Chat' %>! We have a suite of powerful tools ready for you to explore. Before that we quickly need to verify your email address to know it's really you.
  </p>
  <% end %>
  <% unless @resource.custom_attributes['user_on_keycloak'].present? %>
    <p>Please take a moment and use the credentials to activate your account using the below link.</p>
    <p>Email: <%= @resource.email %></p>
    <p>Password: <%= @resource.custom_attributes['keycloak_temp_password'] %></p>
  <% else %>
    <p>Click the link below to login to your account.</p>
  <% end %>
<% end %>


<% if @resource.unconfirmed_email.present? %>
  <p><%= link_to 'Go to account', frontend_url('auth/confirmation', confirmation_token: @token) %></p>
<% elsif @resource.confirmed? %>
  <p><%= link_to 'Go to account', frontend_url('auth/sign_in') %></p>
<% elsif account_user&.inviter.present? %>
  <% keycloakUri = ENV.fetch('KEYCLOAK_URL', nil) %>
  <% redirectUri = ENV.fetch('KEYCLOAK_CALLBACK_URL', nil) %>
  <% clientId = ENV.fetch('KEYCLOAK_CLIENT_ID', nil) %>
  <% realm = ENV.fetch('KEYCLOAK_REALM', nil)  %>
  
  <% root_url = "#{keycloakUri}/realms/#{realm}/protocol/openid-connect/auth" %>
  <% responseType = 'code' %>
  <% scope = 'openid' %>

  <% query_string = URI.encode_www_form(
      client_id: clientId,
      redirect_uri: redirectUri,
      response_type: responseType,
      scope: scope
  ) %>

  <p><%= link_to 'Go to account', "#{root_url}?#{query_string}" %></p>
<% else %>
  <p><%= link_to 'Go to account', frontend_url('auth/confirmation', confirmation_token: @token) %></p>
<% end %>