<p>Halo <%= @resource.name %>,</p>

<% account_user = @resource&.account_users&.first %>

<% if account_user&.inviter.present? && @resource.unconfirmed_email.blank? %>
  <p><%= account_user.inviter.name %>, dari <%= account_user.account.name %>, telah mengundang Anda untuk mencoba <%= global_config['BRAND_NAME'] || 'Chatwoot' %>.</p>
<% end %>

<% if @resource.confirmed? %>
  <p>Anda dapat masuk ke akun <%= global_config['BRAND_NAME'] || 'Chatwoot' %> melalui tautan di bawah ini:</p>
<% else %>
  <% if account_user&.inviter.blank? %>
  <p>
    Selamat datang di <%= global_config['BRAND_NAME'] || 'Chatwoot' %>! Kami memiliki rangkaian alat yang siap untuk Anda jelajahi. Sebelum itu, kami perlu memverifikasi alamat email Anda untuk memastikan bahwa ini benar-benar Anda.
  </p>
  <% end %>
  <p>Silakan luangkan waktu sejenak dan klik tautan di bawah ini untuk mengaktifkan akun Anda.</p>
<% end %>

<% if @resource.unconfirmed_email.present? %>
  <p><%= link_to 'Konfirmasi akun saya', frontend_url('auth/confirmation', confirmation_token: @token) %></p>
<% elsif @resource.confirmed? %>
  <p><%= link_to 'Masuk ke akun saya', frontend_url('auth/sign_in') %></p>
<% elsif account_user&.inviter.present? %>
  <p><%= link_to 'Konfirmasi akun saya', frontend_url('auth/password/edit', reset_password_token: @resource.send(:set_reset_password_token)) %></p>
<% else %>
  <p><%= link_to 'Konfirmasi akun saya', frontend_url('auth/confirmation', confirmation_token: @token) %></p>
<% end %>
