<p>Olá <%= @resource.name %>,</p>

<% account_user = @resource&.account_users&.first %>

<% if account_user&.inviter.present? && @resource.unconfirmed_email.blank? %>
  <p><%= account_user.inviter.name %>, com <%= account_user.account.name %>, te convidou para experimentar <%= global_config['BRAND_NAME'] || 'Chatwoot' %>.</p>
<% end %>

<% if @resource.confirmed? %>
  <p>Você pode fazer login na sua conta <%= global_config['BRAND_NAME'] || 'Chatwoot' %> através do link abaixo:</p>
<% else %>
  <% if account_user&.inviter.blank? %>
  <p>
    Bem-vindo ao <%= global_config['BRAND_NAME'] || 'Chatwoot' %>! Temos um conjunto de ferramentas poderosas prontas para você explorar. Mas antes, precisamos verificar rapidamente seu endereço de e-mail para saber se é realmente você.
  </p>
  <% end %>
  <p>Por favor, tire um momento e clique no link abaixo para ativar sua conta.</p>
<% end %>


<% if @resource.unconfirmed_email.present? %>
  <p><%= link_to 'Confirmar minha conta', frontend_url('auth/confirmation', confirmation_token: @token) %></p>
<% elsif @resource.confirmed? %>
  <p><%= link_to 'Acessar minha conta', frontend_url('auth/sign_in') %></p>
<% elsif account_user&.inviter.present? %>
  <p><%= link_to 'Confirmar minha conta', frontend_url('auth/password/edit', reset_password_token: @resource.send(:set_reset_password_token)) %></p>
<% else %>
  <p><%= link_to 'Confirmar minha conta', frontend_url('auth/confirmation', confirmation_token: @token) %></p>
<% end %>
