<p><%= t('devise.mailer.reset_password_instructions.greeting', email: @resource.email) %></p>

<p><%= t('devise.mailer.reset_password_instructions.request') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.change_password'), frontend_url('auth/password/edit', reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.ignore') %></p>
<p><%= t('devise.mailer.reset_password_instructions.no_change') %></p>
