<p><%= t('.greeting', email: @resource.email) %></p>
<p><%= t('.request_info') %></p>

<p>
  <%= link_to t('.change_password_link'), 
              frontend_url('auth/password/edit', reset_password_token: @token), 
              class: 'btn' %>
</p>

<p class="mt-4"><%= t('.ignore_info') %></p>
<p><%= t('.no_change_info') %></p>

