<tr>
  <td style="line-height:3px;font-size:3px" height="250px">&nbsp;</td>
</tr>

<tr style="text-align:left">
  <td style="text-align:left">
    <a href="<%= ENV['FRONTEND_URL'] %>" _target="blank">
      <img src="<%= ENV['FRONTEND_URL'] %>/brand-assets/logo_with_name.svg" alt="Chatwoot" width="200" height="60">
    </a>
  </td>
  <td width="10"></td>
</tr>

<tr>
  <td style="line-height:20px;font-size:20px" height="5" bgcolor="#ffffff">&nbsp;</td>
</tr>

<tr style="text-align:left">
  <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:14px;text-transform:uppercase;line-height:normal;font-weight:700">
    Checkout your bi-weekly customer satisfaction metrics.
  </td>
</tr>

<tr>
  <td style="line-height:3px;font-size:3px" height="3" bgcolor="#0080f8">&nbsp;</td>
</tr>

<tr>
  <td align="center">
    <table cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td style="line-height:20px;font-size:20px" height="5" bgcolor="#ffffff">&nbsp;</td>
        </tr>
        <tr>
          <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:15px;line-height:100%;font-weight:normal" width="480">
            <table cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td width="350" valign="middle" height="35" align="left">
                    <table cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:12px;text-transform:uppercase;line-height:normal;font-weight:700" valign="top">
                            Conversation Created In the last two weeks:
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="color:#1f93ff;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:24px;line-height:100%;font-weight:400"><%= @data[:conversation_created]%>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                  </td>
                </tr>
                <tr>
                  <td width="350" valign="middle" height="35" align="left">
                    <table cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:12px;text-transform:uppercase;line-height:normal;font-weight:700" valign="top">
                            Conversation Resolved In the last two weeks:
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="color:#1f93ff;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:24px;line-height:100%;font-weight:400"><%= @data[:conversation_resolved]%>

                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr>
  <td style="line-height:3px;font-size:3px" height="3" bgcolor="#0080f8">&nbsp;</td>
</tr>

<tr>
  <td align="center">
    <table cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:15px;line-height:100%;font-weight:normal" width="480">
            <table cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td width="350" valign="middle" height="35" align="left">
                    <table cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:12px;text-transform:uppercase;line-height:normal;font-weight:700" valign="top">
                            Total conversations created till date:
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="color:#1f93ff;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:24px;line-height:100%;font-weight:400"><%= @data[:total_conversation_created]%>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="80">

                  </td>
                </tr>
                <tr>
                  <td width="350" valign="middle" height="35" align="left">
                    <table cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:12px;text-transform:uppercase;line-height:normal;font-weight:700" valign="top">
                            Total conversations resolved till date:
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="color:#1f93ff;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:24px;line-height:100%;font-weight:400"><%= @data[:total_conversation_resolved]%>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="line-height:20px;font-size:20px" height="5" bgcolor="#ffffff">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr>
  <td style="line-height:3px;font-size:3px" height="3" bgcolor="#0080f8">&nbsp;</td>
</tr>

<tr>
  <td align="center">
    <table cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:15px;line-height:100%;font-weight:normal" width="480">
            <table cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td width="350" valign="middle" height="35" align="left">
                    <table cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:12px;text-transform:uppercase;line-height:normal;font-weight:700" valign="top">
                            Total conversations assigned to you in last two weeks:
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="color:#1f93ff;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:24px;line-height:100%;font-weight:400"><%= @data[:conversation_assigned_to_agent]%>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="80">

                  </td>
                </tr>
                <tr>
                  <td width="350" valign="middle" height="35" align="left">
                    <table cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:12px;text-transform:uppercase;line-height:normal;font-weight:700" valign="top">
                            Total conversations resolved by you in the last two weeks:
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="line-height:10px;font-size:10px" height="5" bgcolor="#ffffff">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="color:#1f93ff;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:24px;line-height:100%;font-weight:400"><%= @data[:conversation_resolved_by_agent]%>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="line-height:20px;font-size:20px" height="5" bgcolor="#ffffff">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>Ω

<tr>
  <td style="line-height:3px;font-size:3px" height="3" bgcolor="#0080f8">&nbsp;</td>
</tr>

<table id="q-graph">
  <caption>Customer queries resolved in the last 4 weeks</caption>
  <tbody>
    <tr class="qtr" id="q1">
      <th scope="row">Fourth week</th>
      <td class="paid bar" style="height: <%= @chart_data[:last_week]%>%"><p><%= @chart_data[:last_week_count]%></p>
      </td>
    </tr>
    <tr class="qtr" id="q2">
      <th scope="row">Third week</th>
      <td class="paid bar" style="height: <%= @chart_data[:second_last_week]%>%"><p><%= @chart_data[:second_last_week_count]%></p></td>
    </tr>
    <tr class="qtr" id="q3">
      <th scope="row">Second week</th>
      <td class="paid bar" style="height: <%= @chart_data[:third_last_week]%>%"><p><%= @chart_data[:third_last_week_count]%></p></td>
    </tr>
    <tr class="qtr" id="q4">
      <th scope="row">First week</th>
      <td class="paid bar" style="height: <%= @chart_data[:fourth_last_week]%>%"><p><%= @chart_data[:fourth_last_week_count]%></p></td>
    </tr>
  </tbody>
</table>

<style type="text/css">
  body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

#q-graph {
  display: block;
  /* fixes layout wonkiness in FF1.5 */
  position: relative;
  width: 600px;
  height: 200px;
  margin: 1.1em 0 0;
  padding: 0;
  background: transparent;
  font-size: 11px;
}

#q-graph caption {
  caption-side: top;
  width: 600px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  top: -40px;
  position: relative;
  z-index: 10;
  font-weight: bold;
}

#q-graph tr, #q-graph th, #q-graph td {
  position: absolute;
  bottom: 0;
  width: 150px;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
}

#q-graph td {
  transition: all 0.3s ease;
}
#q-graph td:hover {
  background-color: #4d4d4d;
  opacity: 0.9;
  color: white;
}

#q-graph thead tr {
  left: 100%;
  top: 50%;
  bottom: auto;
  margin: -2.5em 0 0 5em;
}

#q-graph thead th {
  width: 7.5em;
  height: auto;
  padding: 0.5em 1em;
}

#q-graph thead th.sent {
  top: 0;
  left: 0;
  line-height: 2;
}

#q-graph thead th.paid {
  top: 2.75em;
  line-height: 2;
  left: 0;
}

#q-graph tbody tr {
  height: 100%;
  padding-top: 2px;
  border-right: 1px dotted #C4C4C4;
  color: #AAA;
}

#q-graph #q1 {
  left: 0;
}

#q-graph #q2 {
  left: 150px;
}

#q-graph #q3 {
  left: 300px;
}

#q-graph #q4 {
  left: 450px;
  border-right: none;
}

#q-graph tbody th {
  bottom: -1.75em;
  vertical-align: top;
  font-weight: normal;
  color: #333;
}

#q-graph .bar {
  width: 60px;
  border: 1px solid;
  border-bottom: none;
  color: #000;
}

#q-graph .bar p {
  margin: 5px 0 0;
  padding: 0;
  opacity: 0.4;
}

#q-graph .sent {
  left: 13px;
  background-color: #39cccc;
  border-color: transparent;
}

#q-graph .paid {
  left: 77px;
  background-color: #7fdbff;
  border-color: transparent;
}

#ticks {
  position: relative;
  top: -300px;
  left: 2px;
  width: 596px;
  height: 300px;
  z-index: 1;
  margin-bottom: -300px;
  font-size: 10px;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
  position: relative;
  border-bottom: 1px dotted #C4C4C4;
  width: 600px;
}

#ticks .tick p {
  position: absolute;
  left: -5em;
  top: -0.8em;
  margin: 0 0 0 0.5em;
}
</style>
