<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#F5F6FB" align="center">
    <tbody>
        <tr>
            <td valign="top" align="center">
                <table class="table-cw-0" style="margin:0 auto" width="550" cellspacing="0"
                    cellpadding="0" border="0" bgcolor="#F5F6FB" align="center">
                    <tbody>
                        <tr>
                            <td valign="top" align="center">

                                <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                                    <tbody>
                                        <tr>
                                            <td style="line-height:20px;font-size:20px" height="20" bgcolor="#F5F6FB">
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#F5F6FB" align="center">
                                                <table class="table-cw-2" width="100%" cellspacing="0"
                                                    cellpadding="0" border="0" bgcolor="#F5F6FB" align="center">
                                                    <tbody>
                                                        <tr style="text-align:center">
                                                            <td style="text-align:center">
                                                                <a href="<%= ENV['FRONTEND_URL'] %>" _target="blank">
                                                                    <img src="<%= ENV['FRONTEND_URL'] %>/brand-assets/logo_with_name.svg"
                                                                        alt="Chatwoot" width="200" height="60">
                                                                </a>
                                                            </td>
                                                            <td width="10"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height:20px;font-size:20px" height="20" bgcolor="#F5F6FB">
                                                &nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                                    <tbody>
                                        <tr>
                                            <td style="line-height:30px;font-size:30px" height="30" bgcolor="#ffffff">
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="color:#c7ced9;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;font-weight:400"
                                                align="center">
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="color:#c7ced9;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;font-weight:400;text-align:center"
                                                                width="100%" align="center">FEBRUARY 27 - MARCH 06</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table class="table-cw-2" cellspacing="0" cellpadding="0"
                                                    border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height:5px;font-size:5px" height="5"
                                                                bgcolor="#ffffff">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:25px;line-height:150%;font-weight:400"
                                                                width="480" align="center"> Your Weekly Chatwoot
                                                                Insights
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="line-height:10px;font-size:10px" height="10"
                                                                bgcolor="#ffffff">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color:#555c6a;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;font-weight:400"
                                                                width="480" align="center"> Did you know that you are
                                                                faster than 99% of Chatwoot users? Check it
                                                                out, and keep up the great work!</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="line-height:40px;font-size:40px" height="40"
                                                                bgcolor="#ffffff">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height:20px;font-size:20px" height="20" bgcolor="#F5F6FB">
                                                &nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td class="table-cw-1-left-graph" width="342" valign="middle"
                                                bgcolor="#FFFFFF" align="left">
                                                <table class="table-cw-2" cellspacing="0" cellpadding="0"
                                                    border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="table-cw-1-hide" width="30"></td>
                                                            <td style="color:#2e3543;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;font-weight:bold;text-transform:uppercase"
                                                                align="left">
                                                                <table width="95%" cellspacing="0" cellpadding="0"
                                                                    border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="color:#2e3543;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;font-weight:bold;text-transform:uppercase;letter-spacing:1px"
                                                                                align="left"> Conversations</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="line-height:20px;font-size:20px"
                                                                height="20" bgcolor="#FFFFFF">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-cw-1-hide" width="30"></td>
                                                            <td style="color:#838487;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:17px;line-height:150%;font-weight:normal"
                                                                align="left">You resolved <strong
                                                                    style="color:#2e3543"><%= ((@data[:conversation_resolved].to_f/@data[:conversation_assigned_to_agent])*100).to_i%>%</strong> of your assigned
                                                                Chatwoot
                                                                conversations.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="table-cw-1-right-graph" width="208" valign="middle"
                                                height="210" bgcolor="#1f93ff" align="right">
                                                <table class="table-cw-2" cellspacing="0" cellpadding="0"
                                                    border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="color:#fdfdfd;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:32px;line-height:normal;font-weight:bold"
                                                                align="right"><%= @data[:conversation_assigned_to_agent] %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color:#fdfdfd;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:15px;line-height:normal;font-weight:normal"
                                                                align="right">conversations assigned</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" style="line-height:37px;font-size:37px"
                                                                height="37" bgcolor="#1f93ff">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color:#fdfdfd;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:15px;line-height:normal;font-weight:normal"
                                                                width="160" valign="bottom" align="right">
                                                            </td>
                                                            <td width="15"></td>
                                                            <td class="table-cw-1-hide" width="15"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" style="line-height:10px;font-size:10px"
                                                                height="10" bgcolor="#1f93ff">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="line-height:20px;font-size:20px" height="20" bgcolor="#F5F6FB">
                                                &nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td class="table-cw-1-left-graph" width="342" valign="middle"
                                                bgcolor="#FFFFFF" align="left">
                                                <table class="table-cw-2" cellspacing="0" cellpadding="0"
                                                    border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="table-cw-1-hide" width="30"></td>
                                                            <td style="color:#2e3543;font-family:'Inter',Helvetica,Arial,lsans-serif;font-size:14px;line-height:150%;font-weight:bold;text-transform:uppercase"
                                                                align="left">
                                                                <table width="85%" cellspacing="0" cellpadding="0"
                                                                    border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="color:#2e3543;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;font-weight:bold;text-transform:uppercase;letter-spacing:1px"
                                                                                align="left">Time</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="line-height:20px;font-size:20px"
                                                                height="20" bgcolor="#FFFFFF">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-cw-1-hide" width="30"></td>
                                                            <td style="color:#838487;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:17px;line-height:150%;font-weight:normal"
                                                                align="left">You were faster than <br
                                                                    class="table-cw-1-hide"><strong
                                                                    style="color:#2e3543">48%</strong> of Chatwoot
                                                                users.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="table-cw-1-right-graph" width="208" valign="middle"
                                                height="210" bgcolor="#ff382d" align="right">
                                                <table class="table-cw-2" cellspacing="0" cellpadding="0"
                                                    border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="color:#fdfdfd;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:32px;line-height:normal;font-weight:bold"
                                                                align="right">37</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color:#fdfdfd;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:15px;line-height:normal;font-weight:normal"
                                                                align="right"> seconds first response time</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" style="line-height:37px;font-size:37px"
                                                                height="37" bgcolor="#ff382d">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color:#fdfdfd;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:15px;line-height:normal;font-weight:normal"
                                                                width="160" valign="bottom" align="right">
                                                            </td>
                                                            <td width="15"></td>
                                                            <td class="table-cw-1-hide" width="15"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" style="line-height:10px;font-size:10px"
                                                                height="10" bgcolor="#ff382d">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="line-height:20px;font-size:20px" height="20" bgcolor="#F5F6FB">
                                                &nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td class="table-cw-0" bgcolor="#FFFFFF" align="center">
                                                <table class="table-cw-0" width="100%" cellspacing="0"
                                                    cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="table-cw-1-left-graph" width="342"
                                                                valign="middle" bgcolor="#FFFFFF" align="left">
                                                                <table class="table-cw-2" cellspacing="0"
                                                                    cellpadding="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="table-cw-1-hide"
                                                                                width="30"></td>
                                                                            <td style="color:#2e3543;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;font-weight:bold;text-transform:uppercase"
                                                                                align="left">
                                                                                <table cellspacing="0" cellpadding="0"
                                                                                    border="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="color:#2e3543;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;font-weight:bold;text-transform:uppercase;letter-spacing:1px"
                                                                                                align="left"> Happiness
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="2"
                                                                                style="line-height:20px;font-size:20px"
                                                                                height="20" bgcolor="#FFFFFF">&nbsp;
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="table-cw-1-hide"
                                                                                width="30"></td>
                                                                            <td style="color:#838487;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:17px;line-height:150%;font-weight:normal"
                                                                                align="left"><br><strong
                                                                                    style="color:#2e3543">79%</strong>
                                                                                of your users are loving you.</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td class="table-cw-1-right-graph" width="208"
                                                                valign="middle" height="210" bgcolor="#fdad2a"
                                                                align="right">
                                                                <table class="table-cw-2" cellspacing="0"
                                                                    cellpadding="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="color:#ebebeb;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:32px;line-height:normal;font-weight:bold"
                                                                                align="right">1,283</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="color:#ebebeb;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:15px;line-height:normal;font-weight:normal"
                                                                                align="right"> csat
                                                                                responses</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="3"
                                                                                style="line-height:37px;font-size:37px"
                                                                                height="37" bgcolor="#fdad2a">&nbsp;
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="color:#fdfdfd;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:15px;line-height:normal;font-weight:normal"
                                                                                width="160" valign="bottom"
                                                                                align="right">
                                                                            </td>
                                                                            <td width="15"></td>
                                                                            <td class="table-cw-1-hide"
                                                                                width="15"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="3"
                                                                                style="line-height:10px;font-size:10px"
                                                                                height="10" bgcolor="#fdad2a">&nbsp;
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="line-height:20px;font-size:20px" height="20" bgcolor="#F5F6FB">
                                                &nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                                    <tbody>
                                        <tr>
                                            <td valign="top" bgcolor="#ffffff" align="left">
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height:30px;font-size:30px" height="30"
                                                                bgcolor="#ffffff">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td width="40" valign="top" align="left">&nbsp;</td>
                                                            <td class="table-cw-2" width="470"
                                                                valign="top" align="left">
                                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                                    border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="line-height:15px;font-size:15px"
                                                                                height="15" bgcolor="#ffffff">&nbsp;
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="cw-table-4"
                                                                                style="color:#1c1e29;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;font-weight:700;text-align:left"
                                                                                valign="top">MESSAGES POWERED BY
                                                                                CHATWOOT OVER TIME</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="line-height:15px;font-size:15px"
                                                                                height="15" bgcolor="#ffffff">&nbsp;
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                                    border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th class="m_7233011767277835134stack"
                                                                                style="line-height:100%" width="155"
                                                                                valign="middle" align="center"><img
                                                                                    src="<%= ENV['FRONTEND_URL'] %>/chat.gif"
                                                                                    style="display:block"
                                                                                    class="CToWUd a6T" tabindex="0"
                                                                                    width="150" height="150" border="0">
                                                                            </th>
                                                                            <th class="m_7233011767277835134stack"
                                                                                width="20" valign="top" align="left">
                                                                                &nbsp;</th>
                                                                            <th class="m_7233011767277835134stack"
                                                                                valign="top" align="left">
                                                                                <table width="100%" cellspacing="0"
                                                                                    cellpadding="0" border="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="line-height:15px;font-size:15px"
                                                                                                height="15"
                                                                                                bgcolor="#ffffff">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="cw-table-4"
                                                                                                style="color:#1c1e29;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:54px;line-height:54px;font-weight:700"
                                                                                                valign="middle">90,668
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="line-height:15px;font-size:15px"
                                                                                                height="15"
                                                                                                bgcolor="#ffffff">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="cw-table-4"
                                                                                                style="color:#838487;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:17px;line-height:150%;font-weight:400"
                                                                                                valign="top">messages
                                                                                                powered by Chatwoot<br>
                                                                                                since Jun 20, 2021
                                                                                                (3,838 last week)</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="40" valign="top" align="left">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height:50px;font-size:50px" height="50"
                                                                bgcolor="#ffffff">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="line-height:20px;font-size:20px" height="20" bgcolor="#F5F6FB">
                                                &nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                                    <tbody>
                                        <tr>
                                            <td valign="top" bgcolor="#ffffff" align="center">
                                                <table class="table-cw-0" width="85%" cellspacing="0"
                                                    cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <table class="table-cw-2" cellspacing="0"
                                                                    cellpadding="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="line-height:40px;font-size:40px"
                                                                                height="40" bgcolor="#FFFFFF">&nbsp;
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="color:#fdfdfd;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:32px;line-height:150%;font-weight:400"
                                                                                align="center">
                                                                                <img 
                                                                                src="<%= ENV['FRONTEND_URL'] %>/blog.png"
                                                                                    style="display:block" class="CToWUd"
                                                                                    width="75" height="70" border="0">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="line-height:10px;font-size:10px"
                                                                                height="10" bgcolor="#FFFFFF">&nbsp;
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="color:#2e3543;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;font-weight:700;text-transform:uppercase;letter-spacing:.78px"
                                                                                align="center">this week's blog posts
                                                                                &amp;
                                                                                tips</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="line-height:2px;font-size:2px"
                                                                                width="100%" height="2"
                                                                                bgcolor="#F5F5F5">&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="line-height:22px;font-size:22px"
                                                                                height="22" bgcolor="#FFFFFF">&nbsp;
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="table-cw-2"
                                                                                style="color:#2e3543;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:19px;line-height:150%;font-weight:400"
                                                                                width="100%" align="center">
                                                                                <table
                                                                                    class="table-cw-0"
                                                                                    width="470" cellspacing="0"
                                                                                    cellpadding="0" border="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="left">
                                                                                                <table width="100%"
                                                                                                    cellspacing="0"
                                                                                                    cellpadding="0"
                                                                                                    border="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                style="color:#1f93ff;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:12px;line-height:15px;font-weight:700;text-transform:uppercase;letter-spacing:1px">
                                                                                                                Releases
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table width="100%"
                                                                                                    cellspacing="0"
                                                                                                    cellpadding="0"
                                                                                                    border="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="line-height:6px;font-size:6px"
                                                                                                                height="6">
                                                                                                                &nbsp;
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table width="100%"
                                                                                                    cellspacing="0"
                                                                                                    cellpadding="0"
                                                                                                    border="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                style="color:#2e3543;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:17px;line-height:24px;letter-spacing:0px;font-weight:400">
                                                                                                                <a href="https://www.chatwoot.com/blog/v2-2-0/"
                                                                                                                    style="text-decoration:none;color:#2e3543"
                                                                                                                    target="_blank">
                                                                                                                    Chatwoot
                                                                                                                    v2.2.0</a>
                                                                                                                    </td>
                                                                                                                    </tr>
                                                                                                                    </tbody>
                                                                                                                    </table>
                                                                                                                    </td>
                                                                                                                    <td
                                                                                                                    width="20">
                                                                                                            </td>
                                                                                                            <td style="font-family:'Inter',Helvetica,Arial,sans-serif;font-size:30px;line-height:normal;letter-spacing:0px;font-weight:400"
                                                                                                                align="right">
                                                                                                                <a href="https://www.chatwoot.com/blog/v2-2-0/"
                                                                                                                    style="text-decoration:none;color:#a6adc9"
                                                                                                                    target="_blank"
                                                                                                                ></a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="line-height:18px;font-size:18px"
                                                                                                height="18"
                                                                                                bgcolor="#FFFFFF">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="line-height:2px;font-size:2px"
                                                                                                width="100%" height="2"
                                                                                                bgcolor="#F5F5F5">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="line-height:22px;font-size:22px"
                                                                                                height="22"
                                                                                                bgcolor="#FFFFFF">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="table-cw-2"
                                                                                                style="color:#2e3543;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:19px;line-height:150%;font-weight:400"
                                                                                                width="100%"
                                                                                                align="center">
                                                                                                <table
                                                                                                    class="table-cw-0"
                                                                                                    width="470"
                                                                                                    cellspacing="0"
                                                                                                    cellpadding="0"
                                                                                                    border="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                align="left">
                                                                                                                <table
                                                                                                                    width="100%"
                                                                                                                    cellspacing="0"
                                                                                                                    cellpadding="0"
                                                                                                                    border="0">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td
                                                                                                                                style="color:#1f93ff;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:12px;line-height:15px;font-weight:700;text-transform:uppercase;letter-spacing:1px">
                                                                                                                                Tips
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                                <table
                                                                                                                    width="100%"
                                                                                                                    cellspacing="0"
                                                                                                                    cellpadding="0"
                                                                                                                    border="0">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td style="line-height:6px;font-size:6px"
                                                                                                                                height="6">
                                                                                                                                &nbsp;
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                                <table
                                                                                                                    width="100%"
                                                                                                                    cellspacing="0"
                                                                                                                    cellpadding="0"
                                                                                                                    border="0">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td
                                                                                                                                style="color:#2e3543;font-family:'Inter',Helvetica,Arial,sans-serif;font-size:17px;line-height:24px;letter-spacing:0px;font-weight:400">
                                                                                                                                <a href="https://www.chatwoot.com/docs/user-guide/features/commandbar"
                                                                                                                                    style="text-decoration:none;color:#2e3543"
                                                                                                                                    target="_blank">
                                                                                                                                    Get
                                                                                                                                    things
                                                                                                                                    done
                                                                                                                                    faster
                                                                                                                                    with
                                                                                                                                    commandbar
                                                                                                                                </a>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                            <td
                                                                                                                width="20">
                                                                                                            </td>
                                                                                                            <td style="font-family:'Inter',Helvetica,Arial,sans-serif;font-size:30px;line-height:normal;letter-spacing:0px;font-weight:400"
                                                                                                                align="right">
                                                                                                                <a href="https://www.chatwoot.com/docs/user-guide/features/commandbar"
                                                                                                                    style="text-decoration:none;color:#a6adc9"
                                                                                                                    target="_blank"
                                                                                                                    ></a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="line-height:18px;font-size:18px"
                                                                                                height="18"
                                                                                                bgcolor="#FFFFFF">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="line-height:2px;font-size:2px"
                                                                                                width="100%" height="2"
                                                                                                bgcolor="#F5F5F5">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="line-height:22px;font-size:22px"
                                                                                                height="22"
                                                                                                bgcolor="#FFFFFF">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="line-height:18px;font-size:18px"
                                                                                                height="18"
                                                                                                bgcolor="#FFFFFF">&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                                    border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="line-height:40px;font-size:40px"
                                                                                height="40" bgcolor="#FFFFFF">&nbsp;
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
