<!DOCTYPE html>
<html>
  <head>
    <title>Chatwoot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if current_user %>
  <body data-account-id="<%= current_user.account_id %>" >
  <% end %>
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
