<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/portal_head' %>
  </head>
  <body class="font-default">
    <div id="portal" class="antialiased">
      <main class="flex flex-col min-h-screen bg-white main-content dark:bg-slate-900" role="main">
        <%= render 'public/api/v1/portals/header', portal: @portal unless @is_plain_layout_enabled %>
        <%= yield %>
        <%= render 'public/api/v1/portals/footer' unless @is_plain_layout_enabled || @portal.account.feature_enabled?('disable_branding') %>
      </main>
    </div>
    <%= render 'layouts/portal_scripts' %>
  </body>
</html>
